AssemblyAI_audio_to_text_transcription.json
{
  "name": "AssemblyAI audio to text transcription",
  "nodes": [
    {
      "parameters": {
        "url": "=https://willhankins2025.mystagingwebsite.com/wp-content/uploads/2025/07/20250601-Morning.mp3",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        -580
      ],
      "id": "08016828-3e64-4e6b-bafe-0427ab79fc4f",
      "name": "Convert audio link to file",
      "credentials": {
        "httpBasicAuth": {
          "id": "jZginzHyXwnlX1lA",
          "name": "Will Hankins - basic auth WordPress"
        },
        "wordpressApi": {
          "id": "jXcDbQpKPfOZ2RgN",
          "name": "Will Hankins - Wordpress account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        720,
        -580
      ],
      "id": "40683921-0e2f-4193-b6df-22cb89a90b0d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "3c61590dedbb44ecbaa148bcae9e0abe"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "JSON",
        "body": "={   \"audio_url\": \"{{ $json.upload_url }}\",   \"speaker_labels\": true,   \"auto_chapters\": true,   \"auto_highlights\": true,   \"summary_model\": \"informative\",   \"speech_model\": \"best\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1380,
        -580
      ],
      "id": "2d4cdc67-2901-4e78-aeef-dcaaa7667401",
      "name": "Transcribe Audio"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}/paragraphs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "3c61590dedbb44ecbaa148bcae9e0abe"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2040,
        -580
      ],
      "id": "e4606ec6-9732-4539-81bf-9fd7232bd601",
      "name": "Get Paragraphs in Transcript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "3c61590dedbb44ecbaa148bcae9e0abe"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        -580
      ],
      "id": "6bf982c9-e88d-4a38-bc1d-b74696cd023b",
      "name": "Upload Audio"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "3c61590dedbb44ecbaa148bcae9e0abe"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        -580
      ],
      "id": "4360379c-7c7f-4562-8c44-4d183594d315",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "237edd35-a196-43d8-9a85-a0526c5ddd2b",
              "leftValue": "={{ $json.status }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6afc49fc-4e7a-41f3-b72f-2aa054a51e3f",
              "leftValue": "={{ $json.status }}",
              "rightValue": "queued",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1820,
        -580
      ],
      "id": "3ed547f6-5795-41b1-9883-f16dc871307e",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b9b21d8-b3bf-4599-9ec3-7b22687e52ba",
              "name": "transcript",
              "value": "={{ $json.paragraphs.map(p => p.text).join('\\n\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2260,
        -580
      ],
      "id": "e52644d6-f862-49fc-99d5-9677ba3ca3d4",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Convert audio link to file": {
      "main": [
        [
          {
            "node": "Upload Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Convert audio link to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Paragraphs in Transcript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Paragraphs in Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "2ahNkrEQjFMMaqs9",
    "timezone": "America/Los_Angeles"
  },
  "versionId": "b124f1b7-a8a4-4f2e-9f08-573ba8ce4282",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "404da7777b9ae3a6ef4a84e36ff3f6ed18ddf4e223c2dd8f9560a48938216fe2"
  },
  "id": "bXMLGAAQUFvDBVWh",
  "tags": []
}