AssemblyAI_audio_to_text_transcription (3).json
{
  "name": "AssemblyAI audio to text transcription",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.Audio }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "=data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1636,
        -780
      ],
      "id": "08016828-3e64-4e6b-bafe-0427ab79fc4f",
      "name": "Convert audio link to file",
      "credentials": {
        "httpBasicAuth": {
          "id": "jZginzHyXwnlX1lA",
          "name": "Will Hankins - basic auth WordPress"
        },
        "wordpressApi": {
          "id": "and94ZObqAmSRoTQ",
          "name": "Wordpress account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "(api key)"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "JSON",
        "body": "={   \"audio_url\": \"{{ $json.upload_url }}\",   \"speaker_labels\": true,   \"auto_chapters\": true,   \"auto_highlights\": true,   \"summary_model\": \"informative\",   \"speech_model\": \"best\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2076,
        -780
      ],
      "id": "2d4cdc67-2901-4e78-aeef-dcaaa7667401",
      "name": "Transcribe Audio"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}/paragraphs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "(api key)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2736,
        -780
      ],
      "id": "e4606ec6-9732-4539-81bf-9fd7232bd601",
      "name": "Get Paragraphs in Transcript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "(api key)"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1856,
        -780
      ],
      "id": "6bf982c9-e88d-4a38-bc1d-b74696cd023b",
      "name": "Upload Audio"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "(api key)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2296,
        -780
      ],
      "id": "4360379c-7c7f-4562-8c44-4d183594d315",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "237edd35-a196-43d8-9a85-a0526c5ddd2b",
              "leftValue": "={{ $json.status }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6afc49fc-4e7a-41f3-b72f-2aa054a51e3f",
              "leftValue": "={{ $json.status }}",
              "rightValue": "queued",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2516,
        -780
      ],
      "id": "3ed547f6-5795-41b1-9883-f16dc871307e",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b9b21d8-b3bf-4599-9ec3-7b22687e52ba",
              "name": "transcript",
              "value": "={{ $json.paragraphs.map(p => p.text).join('\\n\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2956,
        -780
      ],
      "id": "e52644d6-f862-49fc-99d5-9677ba3ca3d4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        908,
        -760
      ],
      "id": "bf04d944-9a92-4ab7-9919-11fd20c29411",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oCIZ5iYhUW8PJ1Tj",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://(your wp domain).com/wp-json/wp/v2/posts/{{ $json.postID }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        -980
      ],
      "id": "455b10dc-26aa-451f-bbdf-d64e5340114c",
      "name": "Retrieve post information",
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "2jVTrhwHhwkCVFVq",
          "name": "Unnamed credential"
        }
      },
      "notes": "found from the wordpress post"
    },
    {
      "parameters": {
        "text": "={{ $json.content.rendered }}",
        "attributes": {
          "attributes": [
            {
              "name": "Speaker",
              "description": "=The speaker of the sermon. Default: Unanimous",
              "required": true
            },
            {
              "name": "Title",
              "description": "The title of the sermon. Default: Untitled",
              "required": true
            },
            {
              "name": "Audio",
              "description": "The mp3 file link. Default: none",
              "required": true
            },
            {
              "name": "Passage",
              "description": "The scripture passage the sermon was preached on. The Default is: N/A",
              "required": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        820,
        -980
      ],
      "id": "5148b26f-bd88-4879-90bf-c2c8cfc56d00",
      "name": "Parse post data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a08b03aa-8c2d-4ee1-a004-6ec37c7c160b",
              "leftValue": "={{ $json.output.Audio }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1196,
        -980
      ],
      "id": "6628aa4d-8246-4370-80c3-42c61e06d61b",
      "name": "Checks if no audio file"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1416,
        -1080
      ],
      "id": "a97a8dfc-21bd-4f9e-8d29-332c51f25fbd",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "formTitle": "Insert Link",
        "formDescription": "The starting audio link",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Audio",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        1400,
        -680
      ],
      "id": "d7fb42c1-5dcb-47b2-96ea-5235282dc983",
      "name": "If given Audio Link",
      "webhookId": "fd49985b-b21e-4373-b3b4-80b2209c4c01",
      "disabled": true
    },
    {
      "parameters": {
        "folderId": "0ByuSDPyPyLCufkY0LW94c1c5c05lTjFOYWFNOUFiWDFITV9HMlBUN05idVRHVmdyTlk2cTg",
        "title": "={{ $('Parse post data').item.json.output.Title }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3396,
        -880
      ],
      "id": "bbf00bac-0687-49e3-b911-1b827c5a4df8",
      "name": "Create Document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "uvRsKVpanvKFInB1",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "folderId": "0ByuSDPyPyLCufkY0LW94c1c5c05lTjFOYWFNOUFiWDFITV9HMlBUN05idVRHVmdyTlk2cTg",
        "title": "="
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3396,
        -680
      ],
      "id": "ce6a6eda-164b-490c-9d3c-90bf9212440a",
      "name": "Create Document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "uvRsKVpanvKFInB1",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "=(Do not delete this content in parentheses or the workflow will break, or the <b> and </b> tags)\n\n<b>Full Transcript:</b>\n{{ $('Edit Fields').item.json.transcript }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        3616,
        -780
      ],
      "id": "c7b00718-408b-436e-82b5-d13c31e4fdd9",
      "name": "Put Transcript in Document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "uvRsKVpanvKFInB1",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "# IF INPUT IS A WORDPRESS POST",
        "height": 480,
        "width": 1240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        328,
        -1100
      ],
      "typeVersion": 1,
      "id": "93e50ca5-42cc-4527-936e-6b353d183b02",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## IF INPUT IS AUDIO LINK",
        "height": 220,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1316,
        -740
      ],
      "typeVersion": 1,
      "id": "152d9dee-0c7e-4d2a-aaf2-2ef8e718e52d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### INPUT WAS WP POST",
        "height": 200,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3336,
        -920
      ],
      "typeVersion": 1,
      "id": "d5a2c0fb-fd0e-4014-9220-367d18d2ae3c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### INPUT WAS AUDIO LINK",
        "height": 200,
        "width": 220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3336,
        -720
      ],
      "typeVersion": 1,
      "id": "ffdd96f2-cf7f-432f-be87-63ebb4321480",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# SUMMARY CREATION AND ALL APPOVALS",
        "height": 220,
        "width": 1480,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3774,
        -840
      ],
      "typeVersion": 1,
      "id": "7d6d1b76-16d8-4f8e-9972-670d16a6e345",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### INPUT WAS AUDIO LINK",
        "height": 200,
        "width": 220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5252,
        -720
      ],
      "typeVersion": 1,
      "id": "a23d139d-e929-4f74-b97a-0ea35c1c0f93",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## INPUT WAS WP POST",
        "height": 220,
        "width": 660
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5252,
        -940
      ],
      "typeVersion": 1,
      "id": "449312fc-a032-4c4b-b8f3-62f31c507c01",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "wrhankins3@gmail.com",
        "subject": "Transcript Approval",
        "message": "=Here is your sermon transcript. Please make any necessary edits and then click approve. You can change the title if necessary.\n\nhttps://docs.google.com/document/d/{{ $json.documentId }}\n\nAfter approval, a summary will be created and you will be emailed with another prompt to approve.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3840,
        -780
      ],
      "id": "5486008f-3301-4b5f-8e38-165cffb76b37",
      "name": "Transcript Approval",
      "webhookId": "0c646506-c9a6-43e1-a6a4-d86227031fbe",
      "credentials": {
        "gmailOAuth2": {
          "id": "gAfr8QB7pzLQ1idl",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Put Transcript in Document').item.json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4056,
        -780
      ],
      "id": "2939c68f-e2fc-4b90-ac26-4919b5cf7dad",
      "name": "Get Updated Transcript",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "uvRsKVpanvKFInB1",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a few sentence summary of the following text that is bibically accurate without any extra commentary except the summary. Break the summary into paragraphs using HTML if needed. Do not add a header to the summary.\n\nText:\n{{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4276,
        -780
      ],
      "id": "f598a984-b015-4471-9489-0ad7668158f4",
      "name": "Summary Creation",
      "credentials": {
        "openAiApi": {
          "id": "oCIZ5iYhUW8PJ1Tj",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $('Get Updated Transcript').item.json.documentId }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "(Do not delete this content in parentheses or the workflow will break, or the <b> and </b> tags)",
              "replaceText": "=<b>Summary:</b>\n{{ $json.message.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4652,
        -780
      ],
      "id": "3bbbb16f-a22e-4f99-bc37-167e24c0210c",
      "name": "Add summary to Document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "uvRsKVpanvKFInB1",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "(your email here)",
        "subject": "Summary Approval",
        "message": "=The summary has been added onto the transcript. Please make any necessary edits and then click approve. You can change the title if necessary.\n\nhttps://docs.google.com/document/d/{{ $json.documentId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4872,
        -780
      ],
      "id": "bcde9d78-ca77-4605-8334-67ceaafdd921",
      "name": "Summary/Transcript Approval",
      "webhookId": "0c646506-c9a6-43e1-a6a4-d86227031fbe",
      "credentials": {
        "gmailOAuth2": {
          "id": "gAfr8QB7pzLQ1idl",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61cca30a-3ccc-4f2e-b1b2-70f38d5fa859",
              "leftValue": "={{ $('Parse post data').item.json.output.Audio }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5092,
        -780
      ],
      "id": "b66921cc-2631-46f7-9bf7-c670d88ca8e4",
      "name": "Check original input",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Put Transcript in Document').item.json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        5312,
        -680
      ],
      "id": "53f6b2b5-ebf6-44a1-9bcc-c3573a482591",
      "name": "Output: Document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "uvRsKVpanvKFInB1",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{ $('On form submission').item.json.postID }}",
        "updateFields": {
          "title": "={{ $('Parse post data').item.json.output.Title }}",
          "content": "=<b>Title:</b> {{ $('Parse post data').item.json.output.Title }}\n\n<figure class=\"wp-block-audio\"><audio controls src=\"{{ $('Parse post data').item.json.output.Audio }}\"></audio></figure>\n<b>Speaker:</b> {{ $('Parse post data').item.json.output.Speaker }} \n\n<b>Passage:</b> {{ $('Parse post data').item.json.output.Passage }} \n\n{{ $json.content }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        5532,
        -880
      ],
      "id": "3293b066-9af7-4f83-81bc-7ba1590b4f73",
      "name": "Update Original Post Output: WP Post",
      "credentials": {
        "wordpressApi": {
          "id": "and94ZObqAmSRoTQ",
          "name": "Wordpress account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Put Transcript in Document').item.json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        5312,
        -880
      ],
      "id": "47b8acdf-a394-4d40-81cf-09c9a0a6df0a",
      "name": "Get Summary/Transcript",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "uvRsKVpanvKFInB1",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "# TRANSCRIPTION USING ASSEMBLYAI",
        "height": 220,
        "width": 2220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1566,
        -840
      ],
      "typeVersion": 1,
      "id": "ce4950d8-5795-4d86-8cc1-7e5207a8fb71",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "output.Audio",
              "newKey": "Audio"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1416,
        -880
      ],
      "id": "2bd72df1-acc1-439d-9c2a-c1d79071d50c",
      "name": "Rename Keys"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c5dfd6a-7b9c-4d24-b52b-99a3c2e6bfc4",
              "leftValue": "={{ $('Parse post data').item.json.output.Title }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3176,
        -780
      ],
      "id": "b08e02af-e41d-456a-a892-fce84a414dc4",
      "name": "If1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $('Put Transcript in Document').item.json.documentId }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        5752,
        -880
      ],
      "id": "e07190fe-95e1-4fa2-aca5-b5b7cb923801",
      "name": "Output: Document1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "uvRsKVpanvKFInB1",
          "name": "Google Docs account 2"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Insert Post ID",
        "formDescription": "If input is WP Post",
        "formFields": {
          "values": [
            {
              "fieldLabel": "postID",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        400,
        -980
      ],
      "id": "0ca96a83-3ace-48aa-82d8-9651ff22264c",
      "name": "On form submission",
      "webhookId": "63c63fa0-7acd-46e4-b00d-f6c2ec082101"
    }
  ],
  "pinData": {},
  "connections": {
    "Convert audio link to file": {
      "main": [
        [
          {
            "node": "Upload Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Paragraphs in Transcript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Paragraphs in Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Parse post data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve post information": {
      "main": [
        [
          {
            "node": "Parse post data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse post data": {
      "main": [
        [
          {
            "node": "Checks if no audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks if no audio file": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If given Audio Link": {
      "main": [
        [
          {
            "node": "Convert audio link to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Document": {
      "main": [
        [
          {
            "node": "Put Transcript in Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Document1": {
      "main": [
        [
          {
            "node": "Put Transcript in Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Put Transcript in Document": {
      "main": [
        [
          {
            "node": "Transcript Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcript Approval": {
      "main": [
        [
          {
            "node": "Get Updated Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Updated Transcript": {
      "main": [
        [
          {
            "node": "Summary Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Creation": {
      "main": [
        [
          {
            "node": "Add summary to Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add summary to Document": {
      "main": [
        [
          {
            "node": "Summary/Transcript Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary/Transcript Approval": {
      "main": [
        [
          {
            "node": "Check original input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check original input": {
      "main": [
        [
          {
            "node": "Get Summary/Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output: Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Summary/Transcript": {
      "main": [
        [
          {
            "node": "Update Original Post Output: WP Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Convert audio link to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Create Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Original Post Output: WP Post": {
      "main": [
        [
          {
            "node": "Output: Document1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Retrieve post information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "2ahNkrEQjFMMaqs9",
    "timezone": "America/Los_Angeles"
  },
  "versionId": "c4ea9508-7a41-4506-bf82-05804942e758",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "404da7777b9ae3a6ef4a84e36ff3f6ed18ddf4e223c2dd8f9560a48938216fe2"
  },
  "id": "bXMLGAAQUFvDBVWh",
  "tags": []
}
