Text_Summarization__part_of_WordPress_first_automation_.json
{
  "name": "Text Summarization (part of WordPress first automation)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        0
      ],
      "id": "b610d6d1-9d72-47f6-943d-f93a494f7de2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "title": "={{ $json.title }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        700,
        0
      ],
      "id": "04b52227-04b0-4add-8d51-2dbb057812cc",
      "name": "Wordpress",
      "credentials": {
        "wordpressApi": {
          "id": "y8lDKHdDwWNZu9kW",
          "name": "Wordpress"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "id"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        380,
        0
      ],
      "id": "35247162-a517-49bb-8bd1-ddab0773d6b8",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "sM2orlgvsDOMLWcx",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        40,
        0
      ],
      "id": "3b15be0a-654d-44ce-a300-9c39d892daf3",
      "name": "OpenAI1",
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "sM2orlgvsDOMLWcx",
          "name": "OpenAi account 7"
        }
      },
      "notes": "there would be an audio file to transcribe"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1eBTTF3KlF-cJ28VS6ONdIzo22ezq4sf58h3gJYrea8s/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eBTTF3KlF-cJ28VS6ONdIzo22ezq4sf58h3gJYrea8s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Speaker",
              "displayName": "Speaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Passage",
              "displayName": "Passage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        200,
        0
      ],
      "id": "99cadcca-26a6-482b-bbec-21fe38778014",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rfcAuhjVkAiUQfv5",
          "name": "Will Hankins - Google OAuth"
        }
      }
    },
    {
      "parameters": {
        "url": "https://willhankins2025.mystagingwebsite.com/wp-json/wp/v2/posts/1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        0
      ],
      "id": "dd137cd6-9f61-41a1-a5b6-d067b577fcc9",
      "name": "HTTP Request1",
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "DaG0UVnJyu65qxD1",
          "name": "WordPress Credential"
        }
      },
      "notes": "found from the wordpress post"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        []
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1598e5cf-7be8-475c-824f-f188d0acae87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f318f1eeb582bef69a56797ad1f28184a54cfe51b0e461ee190c5740946ea07e"
  },
  "id": "OrjWHayXPbdETRV3",
  "tags": []
}