WP_First_Automation_Workflow.json
{
  "name": "WP First Automation Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -440,
        220
      ],
      "id": "2d83550d-57cb-457f-98b5-c682d3b2a556",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        88,
        440
      ],
      "id": "8dfbce5b-0783-4121-98de-fae80f2338c3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oCIZ5iYhUW8PJ1Tj",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "workpress url",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -220,
        220
      ],
      "id": "c17af45f-af3e-4e11-8d2b-f72d112dfe3d",
      "name": "Retrieve post information",
      "notesInFlow": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "2jVTrhwHhwkCVFVq",
          "name": "Unnamed credential"
        }
      },
      "notes": "found from the wordpress post"
    },
    {
      "parameters": {
        "url": "={{ $json.output.Audio }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        596,
        320
      ],
      "id": "27d254ba-6dc8-4f53-9484-55624052d55c",
      "name": "Convert audio link to file",
      "credentials": {
        "httpBasicAuth": {
          "id": "2jVTrhwHhwkCVFVq",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.content.rendered }}",
        "attributes": {
          "attributes": [
            {
              "name": "Speaker",
              "description": "=The speaker of the sermon. Default: Unanimous",
              "required": true
            },
            {
              "name": "Title",
              "description": "The title of the sermon. Default: Untitled",
              "required": true
            },
            {
              "name": "Audio",
              "description": "The mp3 file link. Default: none",
              "required": true
            },
            {
              "name": "Passage",
              "description": "The scripture passage the sermon was preached on. The Default is: N/A",
              "required": "={{ true }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.1,
      "position": [
        0,
        220
      ],
      "id": "a9519e3a-d64a-4cb2-acb2-000dd4a0972c",
      "name": "Parse post data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        596,
        120
      ],
      "id": "0c03fe54-45c7-4d85-95ed-827449acb822",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a08b03aa-8c2d-4ee1-a004-6ec37c7c160b",
              "leftValue": "={{ $json.output.Audio }}",
              "rightValue": "none",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        376,
        220
      ],
      "id": "452b3027-6f18-408f-8298-0954728a5256",
      "name": "Checks if no audio file"
    },
    {
      "parameters": {
        "command": "ffmpeg -i /tmp/input.mp3 -f segment -segment_time 270 -c copy /tmp/output_%03d.mp3"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1256,
        220
      ],
      "id": "e53ab16a-e166-4711-82e7-9ec82b794d06",
      "name": "Split into 15 minute segments"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/input.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1036,
        220
      ],
      "id": "f63882b1-581d-4430-92a7-9c7973d5b522",
      "name": "Download audio"
    },
    {
      "parameters": {
        "fileSelector": "/tmp/output_*.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1476,
        220
      ],
      "id": "ebd09247-b154-4aca-85fd-fb96a675a0c2",
      "name": "Read Audio Files"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1696,
        220
      ],
      "id": "78cde657-6029-46b6-b9fa-2b5a51c608ee",
      "name": "Split Files Transcriber",
      "notesInFlow": false,
      "credentials": {
        "openAiApi": {
          "id": "oCIZ5iYhUW8PJ1Tj",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2136,
        420
      ],
      "id": "a66d939e-b85a-4dc8-adf1-681569ab8abd",
      "name": "Transcriber",
      "notesInFlow": false,
      "credentials": {
        "openAiApi": {
          "id": "oCIZ5iYhUW8PJ1Tj",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "339bb3b6-7d8e-4da7-90d8-4cff30656d85",
              "name": "text",
              "value": "={{ $('Split Files Transcriber').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2136,
        220
      ],
      "id": "68b66789-ca2f-410d-bfa5-02d0c345a89b",
      "name": "Combine Transcripts",
      "executeOnce": true
    },
    {
      "parameters": {
        "command": "rm /tmp/output_*.mp3"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1916,
        220
      ],
      "id": "8f9d69c3-3293-4022-80b1-18ec1f71698c",
      "name": "Delete Files"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "messages": {
          "values": [
            {
              "content": "=Please take this transcript and break it into paragraphs as you see fit. Reminder that a person spoke these, so incorporate that into your reasoning, but do not change the transcript at all except for adding the paragraph breaks. Please do not include any extra commentary, only the broken up transcript. This is very important.\n\n{{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2356,
        320
      ],
      "id": "41f615af-a897-4b21-8be6-d98414ef73d1",
      "name": "Paragraph breaker (Large File)",
      "credentials": {
        "openAiApi": {
          "id": "oCIZ5iYhUW8PJ1Tj",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "=Create a few sentence summary of the following text that is bibically accurate without any extra commentary except the summary. Break the summary into paragraphs using HTML if needed.\n\n{{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2732,
        320
      ],
      "id": "cf36a1d8-a1d3-407a-9d5d-bd70193dfdbe",
      "name": "Summary Creation (Large File)",
      "credentials": {
        "openAiApi": {
          "id": "oCIZ5iYhUW8PJ1Tj",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $('Parse post data').item.json.output.Title }}",
        "additionalFields": {
          "authorId": 1,
          "content": "=<b>Speaker:</b> {{ $('Parse post data').item.json.output.Speaker }}\n\n<b>Passage:</b> {{ $('Parse post data').item.json.output.Passage }}\n\n<b>Summary:</b>\n{{ $json.message.content }}\n\n<b>Full Transcript:</b>\n{{ $('Paragraph breaker (Large File)').item.json.message.content }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        3108,
        320
      ],
      "id": "86bad011-8408-4158-b393-3e83e31adeb7",
      "name": "Wordpress (Large File)",
      "credentials": {
        "wordpressApi": {
          "id": "and94ZObqAmSRoTQ",
          "name": "Wordpress account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1ea66e55-aade-4094-96b7-02598c247ea0",
              "leftValue": "={{$binary.data.fileSize > 15728640}}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        320
      ],
      "id": "332a706d-08cf-4e90-bf5c-b495522aee2f",
      "name": "File Size Check"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1eBTTF3KlF-cJ28VS6ONdIzo22ezq4sf58h3gJYrea8s",
          "mode": "list",
          "cachedResultName": "Sermon Transcripts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eBTTF3KlF-cJ28VS6ONdIzo22ezq4sf58h3gJYrea8s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eBTTF3KlF-cJ28VS6ONdIzo22ezq4sf58h3gJYrea8s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Summary": "={{ $('Summary Creation (Large File)').item.json.message.content }}",
            "Transcript": "={{ $('Paragraph breaker (Large File)').item.json.message.content }}",
            "Speaker": "={{ $('Parse post data').item.json.output.Speaker }}",
            "Title": "={{ $('Parse post data').item.json.output.Title }}",
            "Passage": "={{ $('Parse post data').item.json.output.Passage }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Speaker",
              "displayName": "Speaker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Passage",
              "displayName": "Passage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3328,
        320
      ],
      "id": "726f7091-2992-4cbc-b7ac-c1e622d84920",
      "name": "Google Sheets (Large File)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qNB8rMVwDZlKxljU",
          "name": "Google Sheets account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Retrieve post information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Parse post data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve post information": {
      "main": [
        [
          {
            "node": "Parse post data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert audio link to file": {
      "main": [
        [
          {
            "node": "File Size Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse post data": {
      "main": [
        [
          {
            "node": "Checks if no audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Checks if no audio file": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert audio link to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into 15 minute segments": {
      "main": [
        [
          {
            "node": "Read Audio Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download audio": {
      "main": [
        [
          {
            "node": "Split into 15 minute segments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Audio Files": {
      "main": [
        [
          {
            "node": "Split Files Transcriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Files Transcriber": {
      "main": [
        [
          {
            "node": "Delete Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcriber": {
      "main": [
        [
          {
            "node": "Paragraph breaker (Large File)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Transcripts": {
      "main": [
        [
          {
            "node": "Paragraph breaker (Large File)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Files": {
      "main": [
        [
          {
            "node": "Combine Transcripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paragraph breaker (Large File)": {
      "main": [
        [
          {
            "node": "Summary Creation (Large File)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary Creation (Large File)": {
      "main": [
        [
          {
            "node": "Wordpress (Large File)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress (Large File)": {
      "main": [
        [
          {
            "node": "Google Sheets (Large File)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Size Check": {
      "main": [
        [
          {
            "node": "Download audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Transcriber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b794d294-d55a-4405-b312-ff0f8576c00b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "404da7777b9ae3a6ef4a84e36ff3f6ed18ddf4e223c2dd8f9560a48938216fe2"
  },
  "id": "rb4AYINBoJiR8F9v",
  "tags": []
}